# Spark Local Test

In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

import configparser
from pyspark.sql import SparkSession, Window
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import udf, col, monotonically_increasing_id, row_number
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from pyspark.sql.types import TimestampType, DateType, StringType
from pyspark.sql import functions as F

from datetime import datetime, timedelta

import os

import config

## Configure Connection

In [56]:
sc.stop()

In [3]:
output_data = "test_output/"

In [4]:
configure = SparkConf().setAppName('udac_config').setMaster('local')
sc = SparkContext(conf = configure)

In [5]:
# getOrCreate modifies the parameters of existing Spark Session
spark = SparkSession.builder.appName('udac_cap').config('config option', 'config value').getOrCreate()

In [6]:
spark.sparkContext.getConf().getAll()

[('spark.master', 'local'),
 ('spark.sql.warehouse.dir',
  'file:/Users/morgan/Documents/10_Udacity/data_eng_nano/usa-tourism-etl/spark-warehouse'),
 ('spark.driver.port', '60219'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.id', 'local-1617382765526'),
 ('spark.driver.host', '10.0.0.223'),
 ('spark.app.name', 'udac_config'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.startTime', '1617382764601'),
 ('spark.ui.showConsoleProgress', 'true')]

### Airports

In [7]:
airports = spark.read.option("header", True).csv("data/airport_codes.csv")

In [8]:
airports.show(5)

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
| 00AK|small_airport|        Lowell Field|         450|       NA|         US|     US-AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|
| 00AL|small_airport|        Epps Airpark|         820|       NA|         US|     US-AL|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|
| 00AR|       closed|Newport Hospital ...|         237|       NA|         US|     US-AR|     Newport|    null|     null|      null| -91.254898, 35.6087|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 5 rows

In [9]:
lat_long = F.split(airports.coordinates, ",")
airports = airports.withColumn('longitude', lat_long.getItem(0))
airports = airports.withColumn('latitude', lat_long.getItem(1))

region_split = F.split(airports.iso_region, "-")
airports = airports.withColumn('state', region_split.getItem(1))

In [10]:
airports = airports.select(['ident',
                 'iata_code',
                 'name','type',
                 'municipality',
                 'state',
                 'local_code',
                 'latitude',
                 'longitude',
                 'elevation_ft']).where(airports.iso_country=="US")

In [11]:
airports = airports.sort('iata_code', ascending=True)

In [12]:
airports = airports.na.drop(subset='iata_code')

In [13]:
airports = airports.withColumn("latitude", airports.latitude.cast('float')) \
                    .withColumn("longitude", airports.longitude.cast('float')) \
                    .withColumn("elevation_fit", airports.elevation_ft.cast('integer'))

In [14]:
airports.show()

+-----+---------+--------------------+--------------+-------------+-----+----------+--------+---------+------------+-------------+
|ident|iata_code|                name|          type| municipality|state|local_code|latitude|longitude|elevation_ft|elevation_fit|
+-----+---------+--------------------+--------------+-------------+-----+----------+--------+---------+------------+-------------+
| KAAF|      AAF|Apalachicola Regi...| small_airport| Apalachicola|   FL|       AAF| 29.7275| -85.0275|          20|           20|
| KAAP|      AAP|      Andrau Airpark|        closed|      Houston|   TX|       AAP| 29.7225| -95.5883|          79|           79|
| KABE|      ABE|Lehigh Valley Int...|medium_airport|    Allentown|   PA|       ABE| 40.6521| -75.4408|         393|          393|
| KABI|      ABI|Abilene Regional ...|medium_airport|      Abilene|   TX|       ABI| 32.4113| -99.6819|        1791|         1791|
| PAFM|      ABL|      Ambler Airport|medium_airport|       Ambler|   AK|       AFM| 67.1063| -157.857|         334|          334|
| KABQ|      ABQ|Albuquerque Inter...| large_airport|  Albuquerque|   NM|       ABQ| 35.0402| -106.609|        5355|         5355|
| KABR|      ABR|Aberdeen Regional...|medium_airport|     Aberdeen|   SD|       ABR| 45.4491| -98.4218|        1302|         1302|
| KABY|      ABY|Southwest Georgia...|medium_airport|       Albany|   GA|       ABY| 31.5355| -84.1945|         197|          197|
| KACB|      ACB|Antrim County Air...| small_airport|     Bellaire|   MI|       ACB| 44.9886| -85.1984|         623|          623|
| KACK|      ACK|Nantucket Memoria...|medium_airport|    Nantucket|   MA|       ACK| 41.2531| -70.0602|          47|           47|
| KACT|      ACT|Waco Regional Air...|medium_airport|         Waco|   TX|       ACT| 31.6113| -97.2305|         516|          516|
| KACV|      ACV|California Redwoo...|medium_airport|Arcata/Eureka|   CA|       ACV| 40.9781| -124.109|         221|          221|
| KACY|      ACY|Atlantic City Int...|medium_airport|Atlantic City|   NJ|       ACY| 39.4576| -74.5772|          75|           75|
| KADG|      ADG|Lenawee County Ai...| small_airport|       Adrian|   MI|       ADG| 41.8677| -84.0773|         798|          798|
| PADK|      ADK|        Adak Airport|medium_airport|  Adak Island|   AK|       ADK|  51.878| -176.646|          18|           18|
| KADM|      ADM|Ardmore Municipal...| small_airport|      Ardmore|   OK|       ADM|34.30301|-97.01963|         777|          777|
| PADQ|      ADQ|      Kodiak Airport|medium_airport|       Kodiak|   AK|       ADQ|   57.75| -152.494|          78|           78|
| KPHH|      ADR|Robert F Swinnie ...| small_airport|      Andrews|   SC|       PHH| 33.4517| -79.5262|          26|           26|
| KADS|      ADS|     Addison Airport| small_airport|       Dallas|   TX|       ADS| 32.9686| -96.8364|         644|          644|
| KADH|      ADT|Ada Regional Airport| small_airport|          Ada|   OK|       ADH| 34.8043| -96.6713|        1016|         1016|
+-----+---------+--------------------+--------------+-------------+-----+----------+--------+---------+------------+-------------+
only showing top 20 rows

#### Successfully created parquets

In [15]:
#airports.write.mode('overwrite').parquet(os.path.join(output_data, "airports"))

---
## USA Cities Demographics

In [16]:
cities = spark.read.option('header', True) \
        .option('delimiter', ";") \
        .csv("data/us_cities_demographics.csv")

In [17]:

for original, revised in config.USA_CITIES_RENAME_COLS.items():
    cities = cities.withColumnRenamed(original, revised)

cities = cities.withColumn("state_city", F.concat_ws("_", cities.state_code, cities.city))

In [18]:
for i_var in config.USA_CITIES_INTEGER_VARS:
    cities = cities.withColumn(i_var, cities[i_var].cast('integer'))
    
for f_var in config.USA_CITIES_FLOAT_VARS:
    cities = cities.withColumn(f_var, cities[f_var].cast('float'))

In [19]:
cities2 = cities.dropDuplicates(["state_city"])

In [20]:
race_count = cities.select("state_city", "race", "race_pop")
race_count = race_count.withColumn("race_pop", race_count.race_pop.cast('float'))
race_count = race_count.groupBy("state_city").pivot("race").agg(F.first("race_pop"))

In [21]:
cities_final = cities2.join(race_count, cities2.state_city == race_count.state_city)
cities_final = cities_final.drop("race", "race_pop", "state_city", "state_city")

In [22]:
for original, revised in config.RACE_RENAME_COLS.items():
    cities_final = cities_final.withColumnRenamed(original, revised)

In [23]:
cities_final.printSchema()

root
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- median_age: float (nullable = true)
 |-- male_pop: integer (nullable = true)
 |-- female_pop: integer (nullable = true)
 |-- total_pop: integer (nullable = true)
 |-- num_veterans: integer (nullable = true)
 |-- num_foreigners: integer (nullable = true)
 |-- avg_household_size: float (nullable = true)
 |-- state_code: string (nullable = true)
 |-- native_american_pop: float (nullable = true)
 |-- asian_pop: float (nullable = true)
 |-- black_american_pop: float (nullable = true)
 |-- hispanic_pop: float (nullable = true)
 |-- white_pop: float (nullable = true)

#### Successfully created parquets

In [24]:

# cities_final.write.mode('overwrite').parquet(os.path.join(output_data, "cities"))

---
## USA Temperatures

In [25]:
temperatures = spark.read.option('header', True) \
                .csv("data/GlobalLandTemperaturesByCity.csv")

In [26]:
temperatures.printSchema()

root
 |-- dt: string (nullable = true)
 |-- AverageTemperature: string (nullable = true)
 |-- AverageTemperatureUncertainty: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

In [27]:
temperatures.show(3)

+----------+------------------+-----------------------------+-----+-------+--------+---------+
|        dt|AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|             6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|              null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-01-01|              null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
only showing top 3 rows

In [28]:
temperatures = temperatures.select("*").where((temperatures.Country == "United States") & (temperatures.dt > "1969-12-31"))

In [29]:
temperatures = temperatures.withColumnRenamed("dt", "date_time") \
                            .withColumnRenamed("AverageTemperature", "avg_daily_temp") \
                            .withColumnRenamed("AverageTemperatureUncertainty", "avg_temp_temp_uncertainty") \
                            .withColumnRenamed("City", "city") \
                            .withColumnRenamed("Latitude", "latitude") \
                            .withColumnRenamed("Longitude", "longitude")

In [30]:
temperatures = temperatures.withColumn("lat_length", F.length("latitude")) \
                            .withColumn("long_length", F.length("longitude")) \
                            .withColumn("latitude_2", F.expr("""substr(latitude, 1, lat_length-1)""")) \
                            .withColumn("longitude_2", F.expr("""substr(longitude, 1, long_length-1)"""))

In [31]:
temperatures = temperatures.withColumn("latitude", temperatures.latitude_2.cast('float')) \
                            .withColumn("longitude", temperatures.longitude_2.cast('float'))

temperatures = temperatures.withColumn("longitude", -1 * col("longitude"))

temperatures = temperatures.drop("Country", "lat_length", "long_length", "latitude_2", "longitude_2")

In [32]:
temperatures.show(2)

+----------+--------------+-------------------------+-------+--------+---------+
| date_time|avg_daily_temp|avg_temp_temp_uncertainty|   city|latitude|longitude|
+----------+--------------+-------------------------+-------+--------+---------+
|1970-01-01|         3.969|                    0.289|Abilene|   32.95|  -100.53|
|1970-02-01|         8.463|                    0.177|Abilene|   32.95|  -100.53|
+----------+--------------+-------------------------+-------+--------+---------+
only showing top 2 rows

In [33]:

#temperatures.write.mode('overwrite').parquet(os.path.join(output_data, "temperatures"))

---
## Visits

In [34]:
# UDF
def convert_datetime(num_days):
    try:
        start = datetime(1960, 1, 1)
        res = start + timedelta(days=int(float((num_days))))
        return res.date()
    except:
        return None
    
udf_datetime_from_sas = udf(lambda x: convert_datetime(x), DateType())

In [35]:
print(convert_datetime('20566.0'))

2016-04-22

In [36]:
int(float('20566.0'))

20566

In [51]:
visits = spark.read.option('header', True) \
            .option('delimiter', ",") \
            .csv("data/immigration_data_sample.csv")

df2 = spark.read.option('header', True).csv("data/airport_dict.csv")

df3 = spark.read.option('header', True).csv("data/country_codes.csv")

In [52]:
cities_dict = df2.withColumn("city", F.split(col("airport"), ",").getItem(0))

cities_dict = cities_dict.withColumn("city", F.initcap("city")) \
                        .drop("airport", "state")

In [53]:
countries_dict = df3.withColumn("country", F.initcap("country")) \
                    .withColumn("country_code", df3["country_code"].cast('integer')) \

In [54]:
visits.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- cicid: string (nullable = true)
 |-- i94yr: string (nullable = true)
 |-- i94mon: string (nullable = true)
 |-- i94cit: string (nullable = true)
 |-- i94res: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: string (nullable = true)
 |-- i94mode: string (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: string (nullable = true)
 |-- i94bir: string (nullable = true)
 |-- i94visa: string (nullable = true)
 |-- count: string (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: string (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: string (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [55]:
visits.arrdate

TypeError: 'Column' object is not callable

In [40]:
# KEEP FOR LATER REFERENCE

# deleteWhitespaceUDF = udf(lambda s: s.replace(" ", "") if type(s) is str else s, StringType())
# deleteApostropheUDF = udf(lambda s: s.replace("''", "") if type(s) is str else s, StringType())
# airports2_dict = airports2_dict.withColumn("state_cleaned", F.expr("substring(state, 1, length(state)-1)"))
# airports2_dict = airports2_dict.withColumn("state", deleteApostropheUDF("state"))

In [41]:
visits.show(4)

+-------+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
|    _c0|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|       admnum|fltno|visatype|
+-------+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
|2027561|4084316.0|2016.0|   4.0| 209.0| 209.0|    HHW|20566.0|    1.0|     HI|20573.0|  61.0|    2.0|  1.0|20160422|    null| null|      G|      O|   null|      M| 1955.0|07202016|     F|  null|     JL|56582674633.0|00782|      WT|
|2171295|4422636.0|2016.0|   4.0| 582.0| 582.0|    MCA|20567.0|    1.0|     TX|20568.0|  26.0|    2.0|  1.0|20160423|     MTR| null|      G|      R|   null|      M| 1990.0|10222016|     M|  null|    *GA|94361995930.0|XBLNG|      B2|
| 589494|1195600.0|2016.0|   4.0| 148.0| 112.0|    OGG|20551.0|    1.0|     FL|20571.0|  76.0|    2.0|  1.0|20160407|    null| null|      G|      O|   null|      M| 1940.0|07052016|     M|  null|     LH|55780468433.0|00464|      WT|
|2631158|5291768.0|2016.0|   4.0| 297.0| 297.0|    LOS|20572.0|    1.0|     CA|20581.0|  25.0|    2.0|  1.0|20160428|     DOH| null|      G|      O|   null|      M| 1991.0|10272016|     M|  null|     QR|94789696030.0|00739|      B2|
+-------+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
only showing top 4 rows

In [42]:
visits2 = visits.withColumn("arrival_date", udf_datetime_from_sas(col("arrdate"))) \
                .withColumn("departure_date", udf_datetime_from_sas(col("depdate"))) \
                .drop("insnum", "dtadfile", "fltno", 'i94bir', "occup", "admnum", "visapost", "entdepu", "arrdate", "depdate", "matflag")

In [43]:
for original, renamed in config.TOURISM_RENAME_COLS.items():
    visits2 = visits2.withColumnRenamed(original, renamed)

In [44]:
cast_to_integer = ["citizen_id", "arrival_yr", "arrival_month", "citizen_cntry_code", "residency_cntry_code", "travel_mode",
                "reason_for_travel", "num_people", "birth_year"]

for feature in config.TOURISM_INTEGER_VARS:
    visits2 = visits2.withColumn(feature, visits2[feature].cast('integer'))

In [45]:
visits2.show(10)

+--------+----------+----------+-------------+------------------+--------------------+-------+-------+-----------+-------------+-----------------+----------+-------+-------+-------+----------+--------+------+-------+---------+------------+--------------+
|visit_id|citizen_id|arrival_yr|arrival_month|citizen_cntry_code|residency_cntry_code|airport|arrdate|travel_mode|airport_state|reason_for_travel|num_people|entdepa|entdepd|entdepu|birth_year| dtaddto|gender|airline|visa_type|arrival_date|departure_date|
+--------+----------+----------+-------------+------------------+--------------------+-------+-------+-----------+-------------+-----------------+----------+-------+-------+-------+----------+--------+------+-------+---------+------------+--------------+
| 2027561|   4084316|      2016|            4|               209|                 209|    HHW|20566.0|          1|           HI|                2|         1|      G|      O|   null|      1955|07202016|     F|     JL|       WT|  2016-04-22|    2016-04-29|
| 2171295|   4422636|      2016|            4|               582|                 582|    MCA|20567.0|          1|           TX|                2|         1|      G|      R|   null|      1990|10222016|     M|    *GA|       B2|  2016-04-23|    2016-04-24|
|  589494|   1195600|      2016|            4|               148|                 112|    OGG|20551.0|          1|           FL|                2|         1|      G|      O|   null|      1940|07052016|     M|     LH|       WT|  2016-04-07|    2016-04-27|
| 2631158|   5291768|      2016|            4|               297|                 297|    LOS|20572.0|          1|           CA|                2|         1|      G|      O|   null|      1991|10272016|     M|     QR|       B2|  2016-04-28|    2016-05-07|
| 3032257|    985523|      2016|            4|               111|                 111|    CHM|20550.0|          3|           NY|                2|         1|      Z|      K|   null|      1997|07042016|     F|   null|       WT|  2016-04-06|    2016-04-09|
|  721257|   1481650|      2016|            4|               577|                 577|    ATL|20552.0|          1|           GA|                2|         1|      T|      N|   null|      1965|10072016|     M|     DL|       B2|  2016-04-08|    2016-06-01|
| 1072780|   2197173|      2016|            4|               245|                 245|    SFR|20556.0|          1|           CA|                2|         1|      T|      O|   null|      1968|10112016|     F|     CX|       B2|  2016-04-12|    2016-06-30|
|  112205|    232708|      2016|            4|               113|                 135|    NYC|20546.0|          1|           NY|                2|         1|      G|      O|   null|      1983|06302016|     F|     BA|       WT|  2016-04-02|    2016-04-10|
| 2577162|   5227851|      2016|            4|               131|                 131|    CHI|20572.0|          1|           IL|                2|         1|      O|      O|   null|      1977|07262016|  null|     LX|       WT|  2016-04-28|    2016-05-01|
|   10930|     13213|      2016|            4|               116|                 116|    LOS|20545.0|          1|           CA|                2|         1|      O|      O|   null|      1981|06292016|  null|     AA|       WT|  2016-04-01|    2016-04-09|
+--------+----------+----------+-------------+------------------+--------------------+-------+-------+-----------+-------------+-----------------+----------+-------+-------+-------+----------+--------+------+-------+---------+------------+--------------+
only showing top 10 rows

#### Join all 3 dataframes

In [46]:
tourism_final = visits2.join(countries_dict, visits2.citizen_cntry_code == countries_dict.country_code, how ='left')
tourism_final = tourism_final.withColumnRenamed("country", "citizen_country") \
                            .drop("country_code")

tourism_final = tourism_final.join(countries_dict, tourism_final.residency_cntry_code == countries_dict.country_code, how='left')
tourism_final = tourism_final.withColumnRenamed("country", "residency_country") \
                            .drop("country_code")

In [47]:
tourism_final = tourism_final.join(cities_dict, tourism_final.airport == cities_dict.airport_code, how='left')
tourism_final = tourism_final.withColumnRenamed("city", "airport_city") \
                            .drop("airport_code")

In [57]:
# tourism_final.show(5)

#### Change the value of certain columns of the Final Dataframes

In [49]:
travel_mode_func = udf(lambda x: config.MODE_OF_TRAVEL.get(x), StringType())
travel_reason_func = udf(lambda x: config.REASON_FOR_TRAVEL.get(x), StringType())
maritime_signals_func = udf(lambda x: config.MARITIME_SIGNAL_FLAGS.get(x), StringType())

tourism_final = tourism_final.withColumn("travel_mode", travel_mode_func(tourism_final.travel_mode)) \
                            .withColumn("reason_for_travel", travel_reason_func(tourism_final.reason_for_travel)) \
                            .withColumn("maritime_status_arrival", maritime_signals_func(tourism_final.entdepa)) \
                            .withColumn("maritime_status_departure", maritime_signals_func(tourism_final.entdepd)) \
                            .drop("entedepa", "entdepd")

In [50]:
tourism_final.show(5)

+--------+----------+----------+-------------+------------------+--------------------+-------+-------+-----------+-------------+-----------------+----------+-------+-------+----------+--------+------+-------+---------+------------+--------------+---------------+-----------------+--------------+-----------------------+-------------------------+
|visit_id|citizen_id|arrival_yr|arrival_month|citizen_cntry_code|residency_cntry_code|airport|arrdate|travel_mode|airport_state|reason_for_travel|num_people|entdepa|entdepu|birth_year| dtaddto|gender|airline|visa_type|arrival_date|departure_date|citizen_country|residency_country|  airport_city|maritime_status_arrival|maritime_status_departure|
+--------+----------+----------+-------------+------------------+--------------------+-------+-------+-----------+-------------+-----------------+----------+-------+-------+----------+--------+------+-------+---------+------------+--------------+---------------+-----------------+--------------+-----------------------+-------------------------+
| 2027561|   4084316|      2016|            4|               209|                 209|    HHW|20566.0|        Air|           HI|         Pleasure|         1|      G|   null|      1955|07202016|     F|     JL|       WT|  2016-04-22|    2016-04-29|          Japan|            Japan|      Honolulu|        Require a pilot|            Man overboard|
| 2171295|   4422636|      2016|            4|               582|                 582|    MCA|20567.0|        Air|           TX|         Pleasure|         1|      G|   null|      1990|10222016|     M|    *GA|       B2|  2016-04-23|    2016-04-24|         Mexico|           Mexico|       Mcallen|        Require a pilot|     My vessel is off ...|
|  589494|   1195600|      2016|            4|               148|                 112|    OGG|20551.0|        Air|           FL|         Pleasure|         1|      G|   null|      1940|07052016|     M|     LH|       WT|  2016-04-07|    2016-04-27|           null|          Germany|Kahului - Maui|        Require a pilot|            Man overboard|
| 2631158|   5291768|      2016|            4|               297|                 297|    LOS|20572.0|        Air|           CA|         Pleasure|         1|      G|   null|      1991|10272016|     M|     QR|       B2|  2016-04-28|    2016-05-07|          Qatar|            Qatar|   Los Angeles|        Require a pilot|            Man overboard|
| 3032257|    985523|      2016|            4|               111|                 111|    CHM|20550.0|       Land|           NY|         Pleasure|         1|      Z|   null|      1997|07042016|     F|   null|       WT|  2016-04-06|    2016-04-09|         France|           France|     Champlain|   Call to shore sta...|     Stop vessel insta...|
+--------+----------+----------+-------------+------------------+--------------------+-------+-------+-----------+-------------+-----------------+----------+-------+-------+----------+--------+------+-------+---------+------------+--------------+---------------+-----------------+--------------+-----------------------+-------------------------+
only showing top 5 rows